/* Typography */
html {
  font-size: 62.5%;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-heading: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
}

::selection {
  background: var(--color-primary);
  color: #fff;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
  line-height: 1.1;
}
h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
  font-weight: 500;
}

p {
  margin-top: 0;
}
/* make image responsive */
img {
  width: 100%;
}
/* Tablet Version */
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/* Links */
a {
  text-decoration: none;
}
.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: all 0.5s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* badges */

.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.badge--secondary {
  background-color: var(--color-secondary);
  color: #fff;
}

.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}

/* lists */

.list {
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
}
.list--tick {
  list-style-image: url(../icons/tick.svg);
  padding-left: 3rem;
  color: var(--color-heading);
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* icons */

.icon {
  width: 40px;
  height: 40px;
}
.icon--small {
  width: 30px;
  height: 30px;
}

.icon--large {
  width: 100px;
}
.icon--primary {
  fill: var(--color-primary);
}
.icon--white {
  fill: #fff;
}

.icon-container {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background-color: #f3f9fa;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.icon-container--accent {
  background: var(--color-accent);
}

/* buttons */
.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  outline: 0;
  padding: 2rem 3rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 1rem 0;
}

.btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}

.btn--primary {
  background: var(--color-primary);
  color: #fff;
}

.btn--primary:hover {
  background: #3a8ffd;
}
.btn--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.btn--secondary:hover {
  background: #00c8eb;
}

.btn--accent {
  background: var(--color-accent);
  color: #fff;
}

.btn--accent:hover {
  background-color: #ec3000;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

.btn--outline {
  background: #fff;
  color: var(--color-heading);
  border: 2px solid var(--color-heading);
}

.btn--outline:hover {
  background: var(--color-heading);
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* Inputs */

.input {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  font-size: 2rem;
  outline: 0;
  padding: 1.5rem 3.5rem;
  text-align: left;
  color: var(--color-body);
}

::placeholder {
  color: #cdcbd7;
}

.input-group {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: flex;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 2rem;
}
.input-group .btn {
  margin: 4px;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

/* card */

.card {
  box-shadow: 0 0 20px 10px #f3f3f3;
  border-radius: 7px;
  overflow: hidden;
}

.card--primary .card__header {
  background-color: var(--color-primary);
  color: #fff;
}

.card--secondary .card__header {
  background-color: var(--color-secondary);
  color: #fff;
}

.card--main .card__header {
  background-color: var(--color-body);
  color: #fff;
}
.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card__header .card__header-price {
  display: flex;
}

.card--primary .badge--primary {
  background-color: #126de4;
}

.card--secondary .badge--secondary {
  background-color: #02cdf1;
}

/* Plans */

.plan--popular {
  transform: scale(1.1);
}

.plan__header {
  margin: 0;
  color: #fff;
  font-weight: 500;
  font-size: 2.4rem;
}

.plan__price {
  font-size: 6rem;
}

.plan__billing {
  padding: 0.5rem 1rem;
  opacity: 0.8;
  font-weight: 300;
}

.plan__description {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
}

.plan .list__item {
  margin-bottom: 2rem;
}

/* Popular Image */
.plan--popular .card__header {
  position: relative;
}
.plan--popular .card__header::before {
  content: url(../icons/popular.svg);
  width: 40px;
  display: inline-block;
  position: absolute;
  top: -6px;
  right: 5%;
}

@media screen and (min-width: 1024px) {
  .plan__header {
    font-size: 1.4rem;
  }

  .plan__price {
    font-size: 5rem;
  }
  .plan__billing {
    font-size: 1.6rem;
  }

  .plan__description {
    font-size: 1.7rem;
  }
}

/* Media */

.media {
  display: flex;
  margin-bottom: 4rem;
}

.media__image {
  margin-top: 1rem;
}

.media__body {
  margin: 0 2rem;
}

.media__title {
  margin-top: 0;
}

/* Quotes */

.quote {
  font-size: 3rem;
  font-style: italic;
  color: var(--color-body-darker);
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote__author {
  font-style: normal;
  margin-bottom: 0;
}

.quote__company {
  font-style: normal;
  color: var(--color-heading);
  font-size: 2rem;
  opacity: 0.4;
}

.quote__line {
  position: relative;
  bottom: 10px;
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }
  .quote__author {
    font-size: 2.4rem;
  }
  .quote__company {
    font-size: 1.6rem;
  }
}

/* Grid */

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Testimonial */

.testimonial {
  padding: 3.2rem;
}

.testimonial__image {
  position: relative;
}

.testimonial__image > img {
  width: 100%;
}

.testimonial__image .icon-container {
  position: absolute;
  top: 3rem;
  right: -32px;
}

@media screen and (max-width: 926px) {
  .testimonial .quote,
  .testimonial .quote__author {
    font-size: 2.4rem;
  }
}

/* Callout */

.callout--primary {
  background: var(--color-primary);
  color: #fff;
}

.callout__content {
  text-align: center;
}
.callout__heading {
  margin-top: 0;
  color: #fff;
  font-size: 3rem;
}

.callout .btn {
  margin-left: 0;
  justify-self: center;
  align-self: center;
}

@media screen and (min-width: 768px) {
  .callout__content {
    text-align: left;
  }
  .callout .btn {
    justify-self: start;
    margin: 0 2rem;
  }

  .callout .grid--1x2 {
    grid-template-columns: 1fr auto;
  }
}

/* Collapsible */

.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__chevron {
  transform: rotate(-90deg);
  transition: all 0.5s;
}

.collapsible .collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0deg);
}

.collapsible .list {
  margin-top: 0;
}

/* Blocks */

.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}

.block--dark {
  background: #000;
  color: #7b858b;
}

.block__header {
  text-align: center;
}

.block__heading {
  margin-top: 0;
}
.block--dark h1,
.block--dark h2,
.block--dark h3 {
  color: #fff;
}

.block--skewed-right {
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
  padding-bottom: 10rem;
}

.block--skewed-left {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
  padding-bottom: 10rem;
}

/* Container */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* nav component */

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #000;
  padding: 0 1rem;
  align-items: center;
}

.nav__list {
  margin: 0;
  width: 100%;
}
.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222;
}

.nav__toggler {
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.15s;
}

.nav__item > a {
  color: #d2d1d1;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: #fff;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}

.nav__brand {
  transform: translateY(5px);
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }
  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;

    max-height: 100%;
    opacity: 1;
  }
  .nav__list {
    border: 0;
  }
}

/* Hero Component */

.hero__tagline {
  font-size: 2rem;
  color: #b9c3cf;
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
}

.hero__banner {
  width: 100%;
}
.hero__content {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 0;
  }

  .hero__content {
    align-self: center;
    text-align: left;
  }
}

/* Domain Block */

.domain .block__text {
  font-size: 2.2rem;
}

.domain .input-group {
  box-shadow: 0 0 30px 20px #e6ebee;
  border: 0;
  max-width: fit-content;
  margin: 4rem auto;
}
.btn .icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  vertical-align: middle;
}

.block-domain__prices {
  display: grid;
  font-size: 2rem;
  font-weight: 600;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 6rem);
  justify-items: center;
  max-width: 700px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .block-domain__prices {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
  .domain .input-group {
    max-width: 670px;
  }
}

/* Plans */

.block-plans .grid {
  gap: 8rem 4rem;
}

.block-plans .card {
  margin: 0 auto;
  max-width: 500px;
  transition: all 1s;
}

.block-plans .card:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.2);
}

/* Features Block */

.block-features .block__heading {
  margin: 1rem 0;
}

.feature {
  gap: 4rem 2rem;
  margin: 12rem 0;
}

.feature:first-of-type {
  margin-top: 6rem;
}

@media screen and (min-width: 768px) {
  .block-features .feature:nth-child(odd) .feature__content {
    grid-row: 1;
  }
}

/* Showcase Block */
.block-showcase__image > img {
  width: 100%;
}

.block__header > h2 {
  margin-bottom: 4rem;
}

@media screen and (min-width: 768px) {
  .block-showcase .grid {
    grid-template-columns: 50% 50%;
  }
  .block-showcase__image {
    justify-self: end;
  }
  .block-showcase__image > img {
    width: auto;
    max-width: 700px;
  }
}
