<section class="block">
  <header class="block__header">
    <h2>What our customer are saying</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, repellendus.</p>
  </header>
  <div class="container card testimonial">
    <div class="grid grid--1x2">
      <div class="testimonial__image">
        <picture>
          <source type="image/webp" srcset="./images/aftabdp.webp 1x,./images/aftabdp@2.webp 2x">
          <source srcset="./images/aftabdp.png 1x,./images/aftabdp@2.png 2x">
          <img src="./images/aftabdp.png" alt="Md Aftab">
        </picture>
        <span class="icon-container icon-container--accent">
          <svg class="icon icon--white icon--small">
            <use xlink:href="../icons/sprite.svg#quotes"></use>
          </svg>
        </span>
      </div>
      <blockquote class="quote">
        <p class="quote__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non, voluptate. Lorem ipsum
          dolor
          sit, amet consectetur adipisicing elit. Itaque unde veniam nam mollitia nostrum, dolore rerum quisquam
          laboriosam
          aperiam excepturi!</p>
        <footer>
          <div class="media">
            <div class="media__image quote__line">
              <svg class="icon icon--primary">
                <use xlink:href="../icons/sprite.svg#line"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title quote__author">Md Aftab</h3>
              <p class="media__text quote__company">ABC Company</p>
            </div>
          </div>
        </footer>
      </blockquote>
    </div>
  </div>
</section>