<div class="collapsible ">
  <header class="collapsible__header">

    <h2 class="collapsible__heading">Product 1</h2>
    <span class="icon collapsible__chevron">
      <img src="./icons/chevron.svg" alt="">
    </span>
  </header>
  <div class="collapsible__content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat blanditiis nobis
    perferendis facere aut dolore fugit commodi voluptatum quos laboriosam.</div>
</div>

<div class="collapsible ">
  <header class="collapsible__header">

    <h2 class="collapsible__heading">Product 1</h2>
    <span class="icon collapsible__chevron">
      <img src="./icons/chevron.svg" alt="">
    </span>
  </header>
  <div class="collapsible__content">
    <ul class="list">
      <li class="list__item">Ok 1</li>
      <li class="list__item">Ok 2</li>
      <li class="list__item">Ok 3</li>
      <li class="list__item">Ok 4</li>
      <li class="list__item">Ok 5</li>
    </ul>
  </div>
</div>
<script src="./js/main.js"></script>